.form {
    
    display: flex;
    align-items: center;
    
    & select {
        margin-left: 20px;
        border: 0;
        outline: 0;
        padding: 5px 10px;
        background: #fff;
        color: #000;
    }

    & input {
        background: transparent;
        border: 0;
        outline: none;
        border-bottom: 1px solid #fff;
        color: #fff;
    }

    & button {
        padding: 5px 10px;
        margin-left: 10px;
        border: 0;
        background: #fff;
        cursor: pointer;

        &:hover {
            background: #ccc;
            transition: .3s;
        }
    }
    
}